@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.551)),
    url("/image/bg.jpeg");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.left_btn,
.right_btn {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 106, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 106, 0);
}

.left_btn i,
.right_btn i {
  font-size: 20px;
}

.center_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
}
.center_text_h3 {
  color: rgb(255, 106, 0);
  font-size: 24px;
  font-weight: 500;
}
.center_text_h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.box {
  display: flex;
  flex-direction: column;
  place-items: center center;
  gap: 10px;
  border: 2px solid rgb(255, 106, 0);
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;
}

.img_div {
  width: 150px;
  height: 100px;
  margin-top: -70px;
}
.img_div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.info {
  text-align: center;
  color: white;
  height: 100px;
}

.icon_stars i {
  font-size: 20px;
  color: rgb(255, 106, 0);
}
.icon_quote i {
  font-size: 40px;
  color: rgb(255, 106, 0);
}
